.course-study-page {
    padding: 50px 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
  
    h2 {
      font-size: 24px;
      color: #00000099;
      text-align: justify;
    }
  
    h4 {
      font-size: 21px;
      color: #00000080;
      text-align: justify;
      margin-left: 200px;
      margin-right: 200px;
    }
  
    h5 {
      font-size: 20px;
      color: #00000094;
      text-align: center;

    }
  
    a {
      text-decoration: none;
      background-color: white;
      padding: 5px 10px;
      border: 1px solid black;
      border-radius: 5px;
    }
  }